<div class="row" style="padding-bottom:2%">
    <div class="col-sm-12 col-lg-1"
        style="border: 2px solid lightgrey; width: 30%;padding-bottom:3% ;margin-top: 3% ; margin-left: 35%;background-color: white"
        class="container">
        <div>
            <img src="https://www.xoxoday.com/img/new-ui-images/registration/verificationr-code-step.svg"
                style="width: 70%; margin-left: 15%">
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 style="text-align:center ;">Enter the verification code</h3>
            </div>
            <div class="col-sm-12">
                <p style="text-align:center">A 6 digit verification code has been sent<br>
                    to the email id you provided.</p>
            </div>
            <br>
            <br>
        </div>
        <div class="confirmation_code_span_cell" style="text-align: center;background-color: whites">
            <input type="text" maxlength="1" class="col-sm-12"
                style="margin-left: 2px;width:13.3%; border-bottom: 1px solid grey;border-top:none; border-right: none;border-left: none">
            <input type="text" maxlength="1" class="col-sm-12"
                style="margin-left: 2px;width:13.3%; border-bottom: 1px solid grey;border-top:none; border-right: none;border-left: none">
            <input type="text" maxlength="1" class="col-sm-12"
                style="margin-left: 2px;width: 13.3%; border-bottom: 1px solid grey;border-top:none; border-right: none;border-left: none">
            <input type="text" maxlength="1" class="col-sm-12"
                style="margin-left: 2px;width: 13.3%; border-bottom: 1px solid grey;border-top:none; border-right: none;border-left: none">
            <input type="text" maxlength="1" class="col-sm-12"
                style="margin-left: 2px;width: 13.3%; border-bottom: 1px solid grey;border-top:none; border-right: none;border-left: none">
            <input type="text" maxlength="1" class="col-sm-12"
                style="margin-left: 2px;width: 13.3%; border-bottom: 1px solid grey;border-top:none; border-right: none;border-left: none">
            <br>
            
            <div class="row">
                <a type="submit" class="btn btn-lg col-sm-10" routerLink="/nav-bar/set-pwd"
                    style="margin-left: 10%; border: none;font-size: 20px;;height: 37px; margin-top:20px; width: 80%; color: white; background-color: rgb(255, 115, 0)">VERIFY</a>
            </div>
            <br>
            <p style="text-align: center">Didn't receive the code?<a style="text-decoration: none" href="#">Resend
                    Code</a></p>
        </div>
    </div>
</div>