
<div class="row" style="margin-top: 15%;border:2px solid lightgrey;  background-color: white;
    border-bottom: 2px solid lightgrey ; width: 50%; height: 250px;margin-left: 25%">
    <div style=" height: 100%; float: center; border-right: 2px solid red " class="col-sm-4 ">
        <div class="row">
            <img src="./assets/images/logo.jpeg" class="  col-sm-10 "
                style="margin-left: 10%;margin-bottom: 10% ;margin-top: 40% ;">
        </div>
    </div>
    
    <div class="col-sm-8 ">
        <div class="row" style="margin-left:10%; margin-top:10%">
            <input type="text" placeholder="E-mail" class="col-sm-10"
                style="border: none  ;margin-top: 13%;  color: rgb(48, 100, 167);  border-bottom: 1px solid lightblue ;">
        </div>
        <br>
        <div style="text-align: center">
        <a type="button" class="btn btn-primary btn-sm"
            routerLink="/side-nav"
            style="color: white; background-color: rgb(61, 61, 207); border: 1px solid rgb(61, 61, 207)">Sign
            in</a>
        <br>
        <br>
        <p class="col" style="color: rgb(54, 54, 236)"><a
                style="text-decoration: none; text-align: center;font-size: 15px">Terms & Condition |
                Privacy Policy</a></p>
            </div>
    </div>

</div>
