<div class="container">
<div class="row"  style="border-bottom:2px solid blue;margin-left: 0.5%; margin-top:0%"><br>
       
        <div class="col-sm-8">
            <h6 style="font-size: 25px;"> <- General Purpose Budgets</h6>
            <div class="row" style="margin-left:5%">
            <div role="button" class="jss5718" tabindex="-1" style="background-color: rgb(255, 255, 255); border: 1px solid; color: rgb(80, 174, 85); height: 20px;"><span class="jss5731">Active</span></div><br>
            </div>
        </div>
</div>

<div class="card" style="width:940px;height:270px;margin-top:45px;">
    <div class="row">
        <div class="col">
        <p style="margin-left:12px;margin-top:12px;"><b>About Budgets</b></p>
        <img style="margin-left:12px;" src="https://aaaa.xoxoday.com/static/images/budget/description.svg">Description
        This budget was auto created at the start of the rewards program. You can use this budget for rewarding.<br><br>
        <img style="margin-left:12px;" src="https://aaaa.xoxoday.com/static/images/budget/award.svg">Linked Awards.
        All Awards.<br>
        <br>
        <img style="margin-left:12px;" src="https://aaaa.xoxoday.com/static/images/budget/clock.svg">Valid Time.
        Life Time.