<div class="container" style="margin:0%">
    <div style="width:1100px;height:600px;;" class="card ">
        <div class="row">
            <div class="col-sm-12" >        
                 <p>Filters</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p><b>Awards's Name</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>Fetching Data.....!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><b>Status</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div style="display:inline;" class="checkbox">
                    <input type="checkbox">Awarding Reveiw
                    <input type="checkbox">Approved
                    <input type="checkbox">Declined
                </div>

            </div>
        </div>

        <div class="row" style="margin-top:18px;">
            <div class="col-sm-12">
                <p><b>Nominated By</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <label class="radio-inline">
                    <input type="radio">All Users
                </label>
                <label class="radio-inline">
                    <input type="radio">Only Me
                </label>
                <label class="radio-inline">
                    <input type="radio">Others
                </label>
            </div>
        </div>
    </div>
</div>