<div class="row" style="border-bottom:2px solid blue;margin-left: 0.5%; margin-top:0%">
    <div class="col">
        <h6 style="font-size: 25px;margin-bottom:4%"><b>Award & Value Card</b></h6>
    </div>
</div>

<div class="row">

    <div class="card  col-sm-12" style="width:960px;height:260px;margin-left:10px;margin-top:30px;">

        <div class="row">

            <div class="col-4 pl-4 ">
                <b>
                    <p img style="margin-left:15px;margin-top:16px;font-size: 20px">Award List</p>
                </b>
            </div>

            <div class="col-8 pr-4 text-right">
                <button type="button" type="button" style="margin-right: 14px;background-color: blue;">ADD
                    AWARD</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <input
                    style="width:250px;outline:0%;border:0px;border-bottom:0.06px solid black;margin-left: 24px;margin-top:28px;"
                    type="text" value="search">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-muted" style="margin-left:24px;margin-top:16px;font-size:12px;">Name</p>
            </div>
            <div class="col-md-6">
                <p class="text-muted" style="margin-left:24px;margin-top:16px;font-size:12px;">Award Type</p>
            </div>
            <div class="col-md-2">
                <p class="text-muted" style="margin-left:24px;margin-top:16px;font-size:12px;">Rewards Points</p>
            </div>
        </div>
        <div class="row" style="border-bottom: 1px solid rgb(230, 216, 216);">
        </div>
        <div class="row">
            <p style="margin-left:402px;font-size:14px;margin-top:12px;">No Data Found</p>
        </div>
        <div class="row" style="border-bottom: 1px solid rgb(230, 216, 216);">
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-left:22px;">
                <p style="font-size:11px;color:grey;">Rows Per Page</p>
            </div>

        </div>
    </div>
    <!--card div-->
</div>
<!--main row-->

<div class="row">

    <div class="card  col-sm-12" style="width:960px;height:260px;margin-left:10px;margin-top:30px;">

        <div class="row">

            <div class="col-4 pl-4 ">
                <b>
                    <p img style="margin-left:15px;margin-top:16px;font-size: 20px">Value Cards</p>
                </b>
            </div>

            <div class="col-8 pr-4 text-right">
                <button type="button" type="button" style="margin-right: 14px;background-color: blue;">ADD
                    AWARD</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="valueImageBlock" style="background-image: url(&quot;https://xoxoday-images.s3.amazonaws.com/enterprise2/icons/badges/Result%20Oriented.png&quot;);"></div>
            </div>
        </div>
    </div>
</div>